src/*.exe
src/laughingmancoin
src/laughingmancoind
src/test_laughingmancoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.laughingmancoin

# Compilation and Qt preprocessor part
*.qm
Makefile
laughingmancoin-qt
Laughingmancoin-Qt.app

# Unit-tests
Makefile.test
laughingmancoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
